<style>
  .messageContent {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="messageContent">
  <p>Olá {{name}}</p>
  <p>Clique no link abaixo para resetar sua senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se não foi você quem solicitou essa troca, por favor, ignore este e-mail!</p>

  <p>Obrigado!</p>
  <p>Equipe GoBarber</p>
</div>
